
/* ==========================================================================
Author's custom styles
========================================================================== */

$bgc-offline        : hsl(99, 50%, 78%);
$bgc-online         : hsl(187, 100%, 50%);
$border-list        : hsla(10, 100%, 50%, 1);


body {
  color             : #000;
  font-family       : sans-serif;
  background-color  : $bgc-offline;
  background-color  : hsl(199, 69%, 78%);
  width             : 100%;
  height            : 100%;
  margin: 0;
}
.container {
  width: 100%;
}
h1 {
  text-align: center;
}

.sidebar {
  background-color: hsl(200, 70%, 82%);
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  /* flex-wrap: wrap; */
  /* align-content: stretch; */
  flex-direction: row;
  /* width: 170px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0em 1em 1em 1em;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* min-height: 10em; */
  width: 360px;
  top: 0;
  h2 {
    display: block;
    text-align: center;
    margin: .6em 0 0 0;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .wrap-label {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    .first-text {
    }
    .text-label {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
//box content
.content {
  margin: 0 auto;
  margin-top: 8em;
  width  : 80%;
  max-width: 500px;
  .box {//ul
    padding: 0;
    .box__item {//li
      margin : 1em auto;
      padding : 5px;
      background-color: $bgc-online;
      list-style: none;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //&--all {
        //background-color: $bgc-offline;
      //}
      &--online {
        background-color: $bgc-online;
      }
      &--offline {
        background-color: $bgc-offline;
      }
    }
    .box__img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    .box__description {
      flex: 2; 
    }
    .box__link {
      background-color: transparent;
      margin: 0 1em;
      text-align: left;
      display: flex;
      flex: 1;
      &:hover, &:active {
      }
    }
  }
}
