doctype 
html 
  head
    //- won't see me in html
    //-script(src='/javascripts/app.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='js/main.js')
    link(href='css/normalize.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    title FCC -    
  body
    .container
      .sidebar
        h2 navigation
        form
          div.wrap-label
            .text-label.first-text all
            label.switch
              input(type='checkbox' checked='checked').all
              .slider.round
          div.wrap-label
            .text-label online
            label.switch
              input(type='checkbox' ).online
              .slider.round
          div.wrap-label
            .text-label offline
            label.switch
              input(type='checkbox').offline
              .slider.round

      .content
        h1.
          TwichTv Free Code Camp
        ul.box
